### Import Libraries

In [ ]:
# Importing Libraries
import pandas as pd
import numpy as np

# Visualization Libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# Ignore all warnings
import warnings

warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# Load Dataset from github repository
df = pd.read_csv("Restaurent Dataset.csv")

### Dataset First View

In [ ]:
# Dataset First Look
# View top 5 rows of the dataset
df.head()

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
# Checking number of rows and columns of the dataset using shape
print("Number of rows are: ",df.shape[0])
print("Number of columns are: ",df.shape[1])

### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
dup = df.duplicated().sum()
print(f'number of duplicated rows are {dup}')

### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

In [ ]:
# Visualizing the missing values
# Checking Null Value by Plotting Heatmap

# Set the plot size
plt.figure(figsize = (10,6))

# Create the figure object
sns.heatmap(df.isnull().corr(), vmin=-1, annot= True)

# Set labels
plt.xlabel('Name of columns', fontsize=11)
plt.ylabel('Name of columns', fontsize=10)
plt.title('Places of missing values in Dataset', fontsize=12)

# To show
plt.show()

#### Handling Missing Values

In [ ]:
# If the null values number will high, then we can replace it with any placeholder value. In case if we drop them, we will loss a lot of data
# So, since Cuisines column have low number of missing values, that is only 9, i have dropping the same
df = df.dropna(subset=['Cuisines'])

In [ ]:
# Checking missing values again for confirmation
print("Missing values/null values count after handling:")
df.isna().sum()

### Data Type Conversion

In [ ]:
# Dataset Information
# Checking information about the dataset using info
df.info()